@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
hovered-button, .page-button:hover, .restaurant-menu__button-box__button:hover, .explore__button:hover {
  background: linear-gradient(to bottom, #ff9fe5, #a776e3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

left-title, .restaurants__title, .instructions__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 90%;
}

title, .restaurant-menu__heading__name, .header__logo {
  font-family: "Shrikhand";
  font-weight: 500;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

hovered-button, .page-button:hover, .restaurant-menu__button-box__button:hover, .explore__button:hover {
  background: linear-gradient(to bottom, #ff9fe5, #a776e3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

left-title, .restaurants__title, .instructions__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 90%;
}

title, .restaurant-menu__heading__name, .header__logo {
  font-family: "Shrikhand";
  font-weight: 500;
}

.page-button, .restaurant-menu__button-box__button, .explore__button {
  border-radius: 50px;
  border: none;
  color: white;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-weight: 400;
  padding: 1em 2em;
  margin: 1em;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.steps-button, .instructions__button {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 310px;
  margin: 1.5vh 1.5vw;
  padding: 2.5vh 0;
  background-color: #f6f6f6;
  font-weight: bold;
  border: 1px solid #f6f6f6;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.steps-button__number {
  margin-left: -10px;
  margin-right: 20px;
  background-color: #9356DC;
  color: #fff;
  font-size: 0.75em;
  padding: 0.15em;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 20px;
}
.steps-button__icon {
  color: #707070;
  margin-right: 20px;
  width: 15px;
  height: 15px;
}
.steps-button__text {
  text-align: left;
}
.steps-button:hover, .instructions__button:hover {
  background-color: #f4eefc;
}
.steps-button:hover .steps-button__icon, .instructions__button:hover .steps-button__icon {
  color: #9356DC;
}

.new-button, .resto-card__button {
  background-color: #99E2D0;
  color: #2c9c81;
  border-radius: 5%;
  padding: 0.5em 1.75em;
  font-size: 0.8em;
  font-weight: bold;
}

.heart-checkbox, .restaurant-menu__heading__icon, .resto-card__info__favorite-box {
  font-size: 1.25em;
  transform: scaleY(1.25);
  cursor: pointer;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-right: 0.25em;
}
.heart-checkbox__icon {
  color: #707070;
  position: relative;
  z-index: 1;
  opacity: 1;
}
.heart-checkbox__icon:hover {
  opacity: 0;
  transition: opacity 300ms;
}
.heart-checkbox__icon:hover + .heart-checkbox__icon-filled {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.heart-checkbox__icon-filled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

hovered-button, .page-button:hover, .restaurant-menu__button-box__button:hover, .explore__button:hover {
  background: linear-gradient(to bottom, #ff9fe5, #a776e3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

left-title, .restaurants__title, .instructions__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 90%;
}

title, .restaurant-menu__heading__name, .header__logo {
  font-family: "Shrikhand";
  font-weight: 500;
}

.page-button, .restaurant-menu__button-box__button, .explore__button {
  border-radius: 50px;
  border: none;
  color: white;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-weight: 400;
  padding: 1em 2em;
  margin: 1em;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.steps-button, .instructions__button {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 310px;
  margin: 1.5vh 1.5vw;
  padding: 2.5vh 0;
  background-color: #f6f6f6;
  font-weight: bold;
  border: 1px solid #f6f6f6;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.steps-button__number {
  margin-left: -10px;
  margin-right: 20px;
  background-color: #9356DC;
  color: #fff;
  font-size: 0.75em;
  padding: 0.15em;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 20px;
}
.steps-button__icon {
  color: #707070;
  margin-right: 20px;
  width: 15px;
  height: 15px;
}
.steps-button__text {
  text-align: left;
}
.steps-button:hover, .instructions__button:hover {
  background-color: #f4eefc;
}
.steps-button:hover .steps-button__icon, .instructions__button:hover .steps-button__icon {
  color: #9356DC;
}

.new-button, .resto-card__button {
  background-color: #99E2D0;
  color: #2c9c81;
  border-radius: 5%;
  padding: 0.5em 1.75em;
  font-size: 0.8em;
  font-weight: bold;
}

.heart-checkbox, .restaurant-menu__heading__icon, .resto-card__info__favorite-box {
  font-size: 1.25em;
  transform: scaleY(1.25);
  cursor: pointer;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-right: 0.25em;
}
.heart-checkbox__icon {
  color: #707070;
  position: relative;
  z-index: 1;
  opacity: 1;
}
.heart-checkbox__icon:hover {
  opacity: 0;
  transition: opacity 300ms;
}
.heart-checkbox__icon:hover + .heart-checkbox__icon-filled {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.heart-checkbox__icon-filled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.resto-card, .restaurants__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 325px;
  border-radius: 15px;
  position: relative;
}
.resto-card__image-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.resto-card__image-frame__img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.resto-card__info {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.resto-card__info__text__resto-name {
  margin: 1em 0 0.25em 0;
  font-weight: 900;
}
.resto-card__info__text__resto-place {
  margin: 0.25em 0 1em 0;
}
.resto-card__button {
  position: absolute;
  top: 15px;
  right: 15px;
}
.resto-card:hover, .restaurants__card:hover {
  transform: scale(1.015);
  transition: 0.4s;
}

.menu-card, .restaurant-menu__dishes__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border: none;
  background-color: white;
  width: 100%;
  max-width: 350px;
}
.menu-card__name {
  font-weight: bold;
  margin: 0;
  padding-bottom: 0.5em;
}
.menu-card__data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.menu-card__data__description {
  margin: 0;
  font-size: 0.9em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
}
.menu-card__data__price {
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
  transform: translateX(0);
}
.menu-card__green-tick {
  position: absolute;
  right: 0;
  background-color: #99E2D0;
  height: 100%;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transform: translateX(75px);
  transform-origin: left center;
}
.menu-card__green-tick__circle {
  background-color: white;
  padding: 5px;
  width: 15px;
  height: 15px;
  border-radius: 25px;
  color: #99E2D0;
}
.menu-card__green-tick__circle__tick {
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 500ms ease-out 150ms;
}
.menu-card:hover, .restaurant-menu__dishes__item:hover {
  cursor: pointer;
}
.menu-card:active .menu-card__green-tick, .restaurant-menu__dishes__item:active .menu-card__green-tick {
  animation: slide-left-box 750ms forwards 1;
  transform: translateX(0);
}
.menu-card:active .menu-card__green-tick__circle__tick, .restaurant-menu__dishes__item:active .menu-card__green-tick__circle__tick {
  transform: rotate(360deg);
}
.menu-card:active .menu-card__data__price, .restaurant-menu__dishes__item:active .menu-card__data__price {
  animation: slide-left-price 750ms forwards 1;
  transform: translateX(-75px);
}
.menu-card:active .menu-card__data__description, .restaurant-menu__dishes__item:active .menu-card__data__description {
  animation: shrink-text 750ms forwards 1;
  width: 60%;
}

@keyframes slide-left-box {
  from {
    transform: translateX(75px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-left-price {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-75px);
  }
}
@keyframes shrink-text {
  from {
    width: 80%;
  }
  to {
    width: 60%;
  }
}
.loader-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 100%;
  animation: load 0.5s none 2s;
  animation-fill-mode: forwards;
  z-index: 99;
  background-color: #fff;
}
.loader-screen__spinner {
  position: absolute;
  margin: 47.5%;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #9356DC;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-screen__spinner:nth-child(1) {
  left: 8px;
  animation: spinner1 0.6s infinite;
}
.loader-screen__spinner:nth-child(2) {
  left: 8px;
  animation: spinner2n3 0.6s infinite;
}
.loader-screen__spinner:nth-child(3) {
  left: 32px;
  animation: spinner2n3 0.6s infinite;
}
.loader-screen__spinner:nth-child(4) {
  left: 56px;
  animation: spinner4 0.6s infinite;
}
@keyframes spinner1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spinner2n3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes spinner4 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes load {
  0% {
    z-index: 99;
  }
  100% {
    z-index: -1;
  }
}
hovered-button, .page-button:hover, .restaurant-menu__button-box__button:hover, .explore__button:hover {
  background: linear-gradient(to bottom, #ff9fe5, #a776e3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

left-title, .restaurants__title, .instructions__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 90%;
}

title, .restaurant-menu__heading__name, .header__logo {
  font-family: "Shrikhand";
  font-weight: 500;
}

hovered-button, .page-button:hover, .restaurant-menu__button-box__button:hover, .explore__button:hover {
  background: linear-gradient(to bottom, #ff9fe5, #a776e3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

left-title, .restaurants__title, .instructions__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 90%;
}

title, .restaurant-menu__heading__name, .header__logo {
  font-family: "Shrikhand";
  font-weight: 500;
}

.page-button, .restaurant-menu__button-box__button, .explore__button {
  border-radius: 50px;
  border: none;
  color: white;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-weight: 400;
  padding: 1em 2em;
  margin: 1em;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.steps-button, .instructions__button {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 310px;
  margin: 1.5vh 1.5vw;
  padding: 2.5vh 0;
  background-color: #f6f6f6;
  font-weight: bold;
  border: 1px solid #f6f6f6;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.steps-button__number {
  margin-left: -10px;
  margin-right: 20px;
  background-color: #9356DC;
  color: #fff;
  font-size: 0.75em;
  padding: 0.15em;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 20px;
}
.steps-button__icon {
  color: #707070;
  margin-right: 20px;
  width: 15px;
  height: 15px;
}
.steps-button__text {
  text-align: left;
}
.steps-button:hover, .instructions__button:hover {
  background-color: #f4eefc;
}
.steps-button:hover .steps-button__icon, .instructions__button:hover .steps-button__icon {
  color: #9356DC;
}

.new-button, .resto-card__button {
  background-color: #99E2D0;
  color: #2c9c81;
  border-radius: 5%;
  padding: 0.5em 1.75em;
  font-size: 0.8em;
  font-weight: bold;
}

.heart-checkbox, .restaurant-menu__heading__icon, .resto-card__info__favorite-box {
  font-size: 1.25em;
  transform: scaleY(1.25);
  cursor: pointer;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-right: 0.25em;
}
.heart-checkbox__icon {
  color: #707070;
  position: relative;
  z-index: 1;
  opacity: 1;
}
.heart-checkbox__icon:hover {
  opacity: 0;
  transition: opacity 300ms;
}
.heart-checkbox__icon:hover + .heart-checkbox__icon-filled {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.heart-checkbox__icon-filled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

hovered-button, .page-button:hover, .restaurant-menu__button-box__button:hover, .explore__button:hover {
  background: linear-gradient(to bottom, #ff9fe5, #a776e3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

left-title, .restaurants__title, .instructions__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 90%;
}

title, .restaurant-menu__heading__name, .header__logo {
  font-family: "Shrikhand";
  font-weight: 500;
}

.page-button, .restaurant-menu__button-box__button, .explore__button {
  border-radius: 50px;
  border: none;
  color: white;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-weight: 400;
  padding: 1em 2em;
  margin: 1em;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.steps-button, .instructions__button {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 310px;
  margin: 1.5vh 1.5vw;
  padding: 2.5vh 0;
  background-color: #f6f6f6;
  font-weight: bold;
  border: 1px solid #f6f6f6;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.steps-button__number {
  margin-left: -10px;
  margin-right: 20px;
  background-color: #9356DC;
  color: #fff;
  font-size: 0.75em;
  padding: 0.15em;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 20px;
}
.steps-button__icon {
  color: #707070;
  margin-right: 20px;
  width: 15px;
  height: 15px;
}
.steps-button__text {
  text-align: left;
}
.steps-button:hover, .instructions__button:hover {
  background-color: #f4eefc;
}
.steps-button:hover .steps-button__icon, .instructions__button:hover .steps-button__icon {
  color: #9356DC;
}

.new-button, .resto-card__button {
  background-color: #99E2D0;
  color: #2c9c81;
  border-radius: 5%;
  padding: 0.5em 1.75em;
  font-size: 0.8em;
  font-weight: bold;
}

.heart-checkbox, .restaurant-menu__heading__icon, .resto-card__info__favorite-box {
  font-size: 1.25em;
  transform: scaleY(1.25);
  cursor: pointer;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-right: 0.25em;
}
.heart-checkbox__icon {
  color: #707070;
  position: relative;
  z-index: 1;
  opacity: 1;
}
.heart-checkbox__icon:hover {
  opacity: 0;
  transition: opacity 300ms;
}
.heart-checkbox__icon:hover + .heart-checkbox__icon-filled {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.heart-checkbox__icon-filled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.resto-card, .restaurants__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 325px;
  border-radius: 15px;
  position: relative;
}
.resto-card__image-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.resto-card__image-frame__img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.resto-card__info {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.resto-card__info__text__resto-name {
  margin: 1em 0 0.25em 0;
  font-weight: 900;
}
.resto-card__info__text__resto-place {
  margin: 0.25em 0 1em 0;
}
.resto-card__button {
  position: absolute;
  top: 15px;
  right: 15px;
}
.resto-card:hover, .restaurants__card:hover {
  transform: scale(1.015);
  transition: 0.4s;
}

.menu-card, .restaurant-menu__dishes__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border: none;
  background-color: white;
  width: 100%;
  max-width: 350px;
}
.menu-card__name {
  font-weight: bold;
  margin: 0;
  padding-bottom: 0.5em;
}
.menu-card__data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.menu-card__data__description {
  margin: 0;
  font-size: 0.9em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
}
.menu-card__data__price {
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
  transform: translateX(0);
}
.menu-card__green-tick {
  position: absolute;
  right: 0;
  background-color: #99E2D0;
  height: 100%;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transform: translateX(75px);
  transform-origin: left center;
}
.menu-card__green-tick__circle {
  background-color: white;
  padding: 5px;
  width: 15px;
  height: 15px;
  border-radius: 25px;
  color: #99E2D0;
}
.menu-card__green-tick__circle__tick {
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 500ms ease-out 150ms;
}
.menu-card:hover, .restaurant-menu__dishes__item:hover {
  cursor: pointer;
}
.menu-card:active .menu-card__green-tick, .restaurant-menu__dishes__item:active .menu-card__green-tick {
  animation: slide-left-box 750ms forwards 1;
  transform: translateX(0);
}
.menu-card:active .menu-card__green-tick__circle__tick, .restaurant-menu__dishes__item:active .menu-card__green-tick__circle__tick {
  transform: rotate(360deg);
}
.menu-card:active .menu-card__data__price, .restaurant-menu__dishes__item:active .menu-card__data__price {
  animation: slide-left-price 750ms forwards 1;
  transform: translateX(-75px);
}
.menu-card:active .menu-card__data__description, .restaurant-menu__dishes__item:active .menu-card__data__description {
  animation: shrink-text 750ms forwards 1;
  width: 60%;
}

@keyframes slide-left-box {
  from {
    transform: translateX(75px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-left-price {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-75px);
  }
}
@keyframes shrink-text {
  from {
    width: 80%;
  }
  to {
    width: 60%;
  }
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  background-color: #eaeaea;
}
.location__icon {
  padding: 2.5vh 0.5vw;
  cursor: pointer;
}
.location__icon:hover {
  transform: scale(1.15);
  transition: 0.2s;
}
.location__text {
  padding: 2.5vh 0.5vw;
  font-weight: bold;
}

.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em 3em;
  background-color: #f6f6f6;
}
.explore p {
  text-align: center;
}
.instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2em 1em 3em;
  background-color: #fff;
}
.restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 40px;
  padding: 2em 1em 3em;
  background-color: #f6f6f6;
}
hovered-button, .page-button:hover, .restaurant-menu__button-box__button:hover, .explore__button:hover {
  background: linear-gradient(to bottom, #ff9fe5, #a776e3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

left-title, .instructions__title, .restaurants__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 90%;
}

title, .restaurant-menu__heading__name, .header__logo {
  font-family: "Shrikhand";
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  padding: 1.5vh 1vw;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.header__logo {
  font-size: 180%;
  margin: 0;
}
.header__arrow {
  position: absolute;
  left: 15px;
}
.header__arrow__link {
  text-decoration: none;
  color: inherit;
  cursor: default;
}
.header__arrow__link:active {
  color: inherit;
}
.header__arrow__link:hover, .header__arrow__link:focus {
  color: #99E2D0;
}

.footer {
  background-color: #3d3d3d;
  padding: 5% 7.5%;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand";
  font-size: 1.15em;
  letter-spacing: 0.05em;
  margin: 0;
  padding-bottom: 1em;
}
.footer__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__menu__item {
  margin-bottom: 0.5em;
}
.footer__menu__link {
  color: white;
  text-decoration: none;
  font-family: "Roboto";
}
.footer__menu__link:hover {
  color: #FF79DA;
}
.footer__menu__icon {
  margin-right: 0.75em;
  display: inline-block;
  width: 10px;
}
.footer__menu__icon i {
  font-size: 0.85em;
}

hovered-button, .page-button:hover, .restaurant-menu__button-box__button:hover, .explore__button:hover {
  background: linear-gradient(to bottom, #ff9fe5, #a776e3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

left-title, .instructions__title, .restaurants__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 90%;
}

title, .restaurant-menu__heading__name, .header__logo {
  font-family: "Shrikhand";
  font-weight: 500;
}

hovered-button, .page-button:hover, .restaurant-menu__button-box__button:hover, .explore__button:hover {
  background: linear-gradient(to bottom, #ff9fe5, #a776e3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

left-title, .instructions__title, .restaurants__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 90%;
}

title, .restaurant-menu__heading__name, .header__logo {
  font-family: "Shrikhand";
  font-weight: 500;
}

.page-button, .restaurant-menu__button-box__button, .explore__button {
  border-radius: 50px;
  border: none;
  color: white;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-weight: 400;
  padding: 1em 2em;
  margin: 1em;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.steps-button, .instructions__button {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 310px;
  margin: 1.5vh 1.5vw;
  padding: 2.5vh 0;
  background-color: #f6f6f6;
  font-weight: bold;
  border: 1px solid #f6f6f6;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.steps-button__number {
  margin-left: -10px;
  margin-right: 20px;
  background-color: #9356DC;
  color: #fff;
  font-size: 0.75em;
  padding: 0.15em;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 20px;
}
.steps-button__icon {
  color: #707070;
  margin-right: 20px;
  width: 15px;
  height: 15px;
}
.steps-button__text {
  text-align: left;
}
.steps-button:hover, .instructions__button:hover {
  background-color: #f4eefc;
}
.steps-button:hover .steps-button__icon, .instructions__button:hover .steps-button__icon {
  color: #9356DC;
}

.new-button, .resto-card__button {
  background-color: #99E2D0;
  color: #2c9c81;
  border-radius: 5%;
  padding: 0.5em 1.75em;
  font-size: 0.8em;
  font-weight: bold;
}

.heart-checkbox, .restaurant-menu__heading__icon, .resto-card__info__favorite-box {
  font-size: 1.25em;
  transform: scaleY(1.25);
  cursor: pointer;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-right: 0.25em;
}
.heart-checkbox__icon {
  color: #707070;
  position: relative;
  z-index: 1;
  opacity: 1;
}
.heart-checkbox__icon:hover {
  opacity: 0;
  transition: opacity 300ms;
}
.heart-checkbox__icon:hover + .heart-checkbox__icon-filled {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.heart-checkbox__icon-filled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.resto-card, .restaurants__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 325px;
  border-radius: 15px;
  position: relative;
}
.resto-card__image-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.resto-card__image-frame__img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.resto-card__info {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.resto-card__info__text__resto-name {
  margin: 1em 0 0.25em 0;
  font-weight: 900;
}
.resto-card__info__text__resto-place {
  margin: 0.25em 0 1em 0;
}
.resto-card__button {
  position: absolute;
  top: 15px;
  right: 15px;
}
.resto-card:hover, .restaurants__card:hover {
  transform: scale(1.015);
  transition: 0.4s;
}

.menu-card, .restaurant-menu__dishes__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border: none;
  background-color: white;
  width: 100%;
  max-width: 350px;
}
.menu-card__name {
  font-weight: bold;
  margin: 0;
  padding-bottom: 0.5em;
}
.menu-card__data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.menu-card__data__description {
  margin: 0;
  font-size: 0.9em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
}
.menu-card__data__price {
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
  transform: translateX(0);
}
.menu-card__green-tick {
  position: absolute;
  right: 0;
  background-color: #99E2D0;
  height: 100%;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transform: translateX(75px);
  transform-origin: left center;
}
.menu-card__green-tick__circle {
  background-color: white;
  padding: 5px;
  width: 15px;
  height: 15px;
  border-radius: 25px;
  color: #99E2D0;
}
.menu-card__green-tick__circle__tick {
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 500ms ease-out 150ms;
}
.menu-card:hover, .restaurant-menu__dishes__item:hover {
  cursor: pointer;
}
.menu-card:active .menu-card__green-tick, .restaurant-menu__dishes__item:active .menu-card__green-tick {
  animation: slide-left-box 750ms forwards 1;
  transform: translateX(0);
}
.menu-card:active .menu-card__green-tick__circle__tick, .restaurant-menu__dishes__item:active .menu-card__green-tick__circle__tick {
  transform: rotate(360deg);
}
.menu-card:active .menu-card__data__price, .restaurant-menu__dishes__item:active .menu-card__data__price {
  animation: slide-left-price 750ms forwards 1;
  transform: translateX(-75px);
}
.menu-card:active .menu-card__data__description, .restaurant-menu__dishes__item:active .menu-card__data__description {
  animation: shrink-text 750ms forwards 1;
  width: 60%;
}

@keyframes slide-left-box {
  from {
    transform: translateX(75px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-left-price {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-75px);
  }
}
@keyframes shrink-text {
  from {
    width: 80%;
  }
  to {
    width: 60%;
  }
}
hovered-button, .page-button:hover, .restaurant-menu__button-box__button:hover, .explore__button:hover {
  background: linear-gradient(to bottom, #ff9fe5, #a776e3);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

left-title, .instructions__title, .restaurants__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 90%;
}

title, .restaurant-menu__heading__name, .header__logo {
  font-family: "Shrikhand";
  font-weight: 500;
}

.page-button, .restaurant-menu__button-box__button, .explore__button {
  border-radius: 50px;
  border: none;
  color: white;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-weight: 400;
  padding: 1em 2em;
  margin: 1em;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
.steps-button, .instructions__button {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 310px;
  margin: 1.5vh 1.5vw;
  padding: 2.5vh 0;
  background-color: #f6f6f6;
  font-weight: bold;
  border: 1px solid #f6f6f6;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.steps-button__number {
  margin-left: -10px;
  margin-right: 20px;
  background-color: #9356DC;
  color: #fff;
  font-size: 0.75em;
  padding: 0.15em;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 20px;
}
.steps-button__icon {
  color: #707070;
  margin-right: 20px;
  width: 15px;
  height: 15px;
}
.steps-button__text {
  text-align: left;
}
.steps-button:hover, .instructions__button:hover {
  background-color: #f4eefc;
}
.steps-button:hover .steps-button__icon, .instructions__button:hover .steps-button__icon {
  color: #9356DC;
}

.new-button, .resto-card__button {
  background-color: #99E2D0;
  color: #2c9c81;
  border-radius: 5%;
  padding: 0.5em 1.75em;
  font-size: 0.8em;
  font-weight: bold;
}

.heart-checkbox, .restaurant-menu__heading__icon, .resto-card__info__favorite-box {
  font-size: 1.25em;
  transform: scaleY(1.25);
  cursor: pointer;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-right: 0.25em;
}
.heart-checkbox__icon {
  color: #707070;
  position: relative;
  z-index: 1;
  opacity: 1;
}
.heart-checkbox__icon:hover {
  opacity: 0;
  transition: opacity 300ms;
}
.heart-checkbox__icon:hover + .heart-checkbox__icon-filled {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.heart-checkbox__icon-filled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.restaurant-banner {
  position: relative;
  z-index: 1;
}
.restaurant-banner--full-palette {
  height: 250px;
  background-image: url(../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.restaurant-banner--enchanted-plate {
  height: 250px;
  background-image: url(../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.restaurant-banner--le-gourmand {
  height: 250px;
  background-image: url(../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.restaurant-banner--bastille {
  height: 250px;
  background-image: url(../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.restaurant-menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: -35px;
  position: relative;
  z-index: 2;
}
.restaurant-menu__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 5%;
}
.restaurant-menu__dishes {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 5%;
}
.restaurant-menu__dishes__title {
  font-weight: 500;
  width: 100%;
  position: relative;
  display: inline-block;
}
.restaurant-menu__dishes__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12%;
  height: 3px;
  background-color: #99E2D0;
  transform: translateY(10px);
  border-radius: 15px;
}
.restaurant-menu__dishes__item {
  animation: moveUpFadeIn 1000ms ease-out 500ms;
  animation-fill-mode: both;
  position: relative;
  overflow: hidden;
}
.restaurant-menu__dishes__item:nth-of-type(1) {
  animation-delay: 0ms;
}
.restaurant-menu__dishes__item:nth-of-type(2) {
  animation-delay: 150ms;
}
.restaurant-menu__dishes__item:nth-of-type(3) {
  animation-delay: 300ms;
}
.restaurant-menu__dishes__item:nth-of-type(4) {
  animation-delay: 450ms;
}
@keyframes moveUpFadeIn {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
}
.restaurant-menu__button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.restaurant-menu__button-box__button {
  width: 200px;
}

/*# sourceMappingURL=style.css.map */
