@import './variables';

.hovered-button {
    background: linear-gradient(to bottom, lighten($secondary-color, 7.5%), lighten($primary-color, 7.5%));
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.left-title {
    @include flex-box($justify-content: flex-start);
    width: $width;
}

.title {
    font-family: 'Shrikhand';
    font-weight: 500;
}