@import './variables';

@mixin flex-box($direction: row, $justify-content: center, $align-items: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $direction;
}

@mixin restaurant-image($bg-image) {
    height: 250px;
    background-image: $bg-image;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}