@import '../utils/mixins';
@import '../utils/variables';

.header {

    @include flex-box;
    position: relative;
    padding: 3%;
    box-shadow: $shadow;

    &__logo {
        font-family: $title;
        font-size: 180%;
        letter-spacing: 0.05em;
        margin: 0;
    }

    &__arrow {
        position: absolute;
        left: 15px;

        &__link {
            text-decoration: none;
            color: inherit;
            cursor: default;

            &:active {
                color: inherit
            }

            &:hover,
            &:focus {
                color: $tertiary-color;
            }
        }
    }


}